@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
}

/* shared styles */
.orange-text {
    color: var(--primary-color);
}

.gray-text {
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    padding-bottom: 24px;
}

.section-sub-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-color);
    padding-bottom: 16px;
}

hr {
    height: 1px;
    background-color: rgb(216, 211, 211);
    border: none;
}

.btn-primary {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;

}

/* navbar styles */
header {
    max-width: 1250px;
    margin: 40px auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-logo .nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 25px;
    text-transform: capitalize;

}

.nav-items li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
}

/* banner section sryle */
.banner-container {
    max-width: 1250px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../images/dtp-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    background-position: center;
}

.banner-content {

    padding: 110px 0px;
    text-align: center;
}

.banner-title {
    margin-top: 50px;
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 20px;
}

.banner-content .gray-text {
    margin-bottom: 48px;
    color: #fff;
}

.filter-form {
    border-radius: 8px;
    background: rgba(216, 213, 213, 0.162);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
}

.filter-form input,
select {
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
    width: 150px;
}

.filter-form .btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
}

/* popular tours section styles */
.popular-tours-container {
    max-width: 1250px;
    margin: 100px auto;
    display: flex;
    gap: 50px;
}

.popular-tours-content {
    width: 52%;
    padding: 10px;
}

.list-text {
    margin-top: 16px;
}

.list-text li {
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}

.popular-tours-content .btn-primary {
    margin-top: 30px;
}

.popular-tours-images {
    width: calc(48% - 50px);
}

.popular-tours-images img {
    width: 100%;
}

/* destination styles  */
/* <><><><>Some style are present "choose us section styles"<><><><>< */
.destination-container {
    max-width: 1250px;
    margin: 0 auto;
}

.photo-galary {
    margin-top: 48px;
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.row .image img {
    width: 100%;
    height: 100%;
}

/* choose us secction styles */
.choose-us-container {
    max-width: 1250px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 45px;
}

.choose-us-content,
.destination-content {
    width: 50%;
    margin: 0 auto;
}

.choose-us-content .section-title,
#gray,
.destination-content .section-title,
.destination-content .gray-text {
    text-align: center;
}


.card img {
    padding-bottom: 15px;
}

.card-container .card,
.choose-us-container .card {
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px 55px 32px 32px;
}

.card-container .card-1 {
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
}

.card-container .card-2 {
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}

.choose-us-container .card-3 {
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: 30px auto;
}

.upcoming-tour-container {
    max-width: 1250px;
    margin: 100px auto;
}

.upcoming-tour-content {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.upcoming-event-item {
    display: flex;
    gap: 30px;
    align-items: center;

}

.upcoming-event-item .item-box {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #dedee4;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
}

.item-box img {
    border-radius: 10px;
    /* width: 100%; */
}

.item-box .date {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.item-box .btn {
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 15px;
}

.item-box .fa-solid {
    padding-right: 10px;
}

/* subscribe section style */
.subscribe-container {
    max-width: 1250px;
    margin: 100px auto;
    display: flex;
    gap: 24px;
}

.subscribe-content {
    width: 35%;
    border: 1px solid var(--primary-color);
    padding: 40px;
    border-radius: 16px;
}

.subscribe-content hr {
    margin: 22px 0px;
}

.subscribe-content .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subscribe-content .form input,
button {
    padding: 20px 15px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    border: none;
}

.subscribe-content .form button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
}

.subscribe-images {
    width: calc(100% - 35% - 24px);
}

.subscribe-images img {
    width: 100%;
}

/* footer styles */
footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-content {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding: 110px 0px;
}

.footer-content .nav-logo {
    justify-content: center;
    margin-bottom: 15px;
}

.footer-content .social-icon {
    margin-top: 32px;
}

.social-icon .fa-brands {
    font-size: 2rem;
    margin-right: 25px;
}

.footer-content hr {
    height: 1px;
    margin: 40px 0px;
    background-color: rgb(216, 211, 211);
    border: none;
}

.copyright-text {
    font-size: 16px;
    font-weight: 300;
    color: #131318;
}

/*================ responsive styles =========== */
/* reponsive for mobile view */
@media screen and (max-width:600px) {

    nav,
    .popular-tours-container,
    .card-container,
    .subscribe-container {
        flex-direction: column;
    }

    .nav-items {
        margin-top: 20px;
    }

    .banner-container {
        margin: 24px 20px;
    }

    .banner-title {
        margin-top: 10px;
    }

    .banner-content {
        padding: 20px;
    }

    .filter-form {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .filter-form select,
    .filter-form .btn-primary {
        border: 0;
        padding: 10px 20px;
        border-radius: 8px;
        width: 80%;
    }

    .filter-form input {
        border: 0;
        padding: 10px 20px;
        border-radius: 8px;
        width: 70%;
    }

    .choose-us-content,
    .destination-content {
        width: 100%;
        margin: 0 auto;
    }

    .choose-us-container .card-3 {
        width: 100%;
        margin: 24px auto;
    }

    .card-container {
        margin-top: 24px;
    }

    .popular-tours-container,
    .choose-us-container {
        margin: 24px 20px;
    }

    .popular-tours-content {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .destination-container {
        margin: 24px 20px;
    }

    .photo-galary {
        margin-top: 16px;
    }

    .subscribe-container {
        margin: 24px 20px;
    }

    .subscribe-content {
        width: 90%;
        margin: 0 auto;
        padding: 24px;
    }

    .subscribe-images,
    .popular-tours-images {
        width: 100%;
        margin: 0 auto;
    }

    .footer-content {
        padding: 30px 0px;
    }

    .footer-content hr {
        margin: 24px 0px;
    }

    .footer-content .social-icon {
        margin-top: 20px;

    }



}