@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #FF5400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
}

/* shared styles */
.orange-text {
    color: var(--primary-color);
}

.gray-text {
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}

/* navbar styles */
header {
    max-width: 1250px;
    margin: 40px auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-logo .nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 25px;
    text-transform: capitalize;

}

.nav-items li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
}


/* footer styles */
footer {
    background: rgba(19, 19, 24, 0.05);

}

.footer-content {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding: 110px 0px;
}

.footer-content .nav-logo {
    justify-content: center;
    margin-bottom: 15px;
}

.footer-content .social-icon {
    margin-top: 32px;

}

.social-icon .fa-brands {
    font-size: 2rem;
    margin-right: 25px;
}

.footer-hr {
    height: 1px;
    margin: 40px 0px;
    background-color: rgb(216, 211, 211);
    border: none;
}

.copyright-text {
    font-size: 16px;
    font-weight: 300;
    color: #131318;
}

/*================ responsive styles =========== */
/* reponsive for mobile view */
@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }

    .nav-items {
        margin-top: 20px;
    }

    .footer-content {
        padding: 30px 0px;
    }

    .footer-hr {
        margin: 24px 0px;
    }
    .footer-content .social-icon {
        margin-top: 20px;

    }

}